/* ELEMENTOS DO SITE */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin-bottom: 60px; /* Ajuste para a barra de progresso fixa */
}

/* Centralizar títulos */
h1, h2 {
    text-align: center;
    margin: 20px auto; /* Para adicionar espaço ao redor dos títulos */
}


#dayButtons {
    display: flex;
    flex-wrap: wrap; /* Permite que os botões sejam quebrados em linhas quando necessário */
    justify-content: center; /* Centraliza os botões */
    margin: 20px 0;
    gap: 10px; /* Espaçamento entre os botões */
}

.day-button {
    background-color: #4da6ff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.day-button.active {
    background-color: #33c5ff;
    font-weight: bold;
}

.day-button:hover {
    background-color: #2672b8;
}

/* Botões */
#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os botões */
    margin: 20px auto;
}

button {
    background-color: #4da6ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}
#reportLink {
    text-decoration: none;
  }
  


button:hover {
    background-color: #3399ff;
}

button:active {
    background-color: #2672b8;
}

/* Botões no tema escuro */
body.dark-theme button {
    background-color: #444444;
    color: #ffffff;
    border: none;
}

body.dark-theme button:hover {
    background-color: #666666;
}

body.dark-theme button:active {
    background-color: #555555;
}

/* Barra de progresso na posição original */
#progressContainer {
    background-color: #f4f4f4; /* Cor de fundo */
    padding: 5px 0;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease; /* Transição suave */
}

/* Barra de progresso quando fixa no rodapé */
#progressContainer.fixed {
    position: fixed; /* Fixa a barra na tela */
    bottom: 0; /* Define a posição na parte inferior */
    left: 0; /* Alinha à esquerda */
    z-index: 10; /* Para garantir que fique acima dos outros elementos */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
}




#progressBar {
    width: 80%;
    height: 20px;
    border-radius: 5px; /* Deixa a barra de progresso com cantos arredondados */
}

#progressText {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

body.dark-theme #progressContainer {
    background-color: #1e1e1e; /* Cor de fundo para o tema escuro */
}

body.dark-theme #progressBar {
    background-color: #444444; /* Cor de fundo da barra de progresso no tema escuro */
}

body.dark-theme #progressText {
    color: #ffffff; /* Cor do texto da barra de progresso no tema escuro */
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

tr:nth-child(odd) {
    background-color: #f0f8ff;
}

tr:nth-child(even) {
    background-color: #e0f0ff;
}

body.dark-theme tr:nth-child(odd) {
    background-color: #2a2a2a;
}

body.dark-theme tr:nth-child(even) {
    background-color: #333333;
}

th, td {
    border: 1px solid #82c1ff;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #d0e7ff;
    color: #333;
    font-family: 'Segoe UI Black', sans-serif;
    position: sticky;
    top: 0px; /* Ajuste para o espaço que a barra de progresso ocupa */
    z-index: 5;
}

body.dark-theme th {
    background-color: #444444;
    color: #ffffff;
}

body.dark-theme td {
    border-color: #666666;
}

td:first-child, td:nth-child(2) {
    text-align: center;
    width: 5%;
}

td:nth-child(3) {
    width: 8%;
    font-weight: bold;
    text-align: center;
}

td.emoji {
    width: 6%;
    font-size: 3em;
    text-align: center;
}

td:nth-child(5) {
    font-size: 1.2em;
    font-family: 'Segoe UI', sans-serif;
}

.keyword {
    color: #e74c3c;
    font-weight: bold;
}

.checkbox {
    width: 1.5em;
    height: 1.5em;
}

.feito, .nao-feito {
    cursor: pointer;
}

/* Estilos para as linhas com base no status */
tr.feito {
    background-color: #b0d4f1;
}

tr.nao-feito {
    background-color: #ffcdd2;
}

/* RADIO */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #757474;
    border-radius: 50%;
    outline: none;
    background-color: white;
    cursor: pointer;
    position: relative;
}

input[type="radio"]::before {
    content: "";
    display: block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

input[type="radio"].feito:checked {
    border-color: #4da6ff;
}

input[type="radio"].feito:checked::before {
    background-color: #4da6ff;
    transform: translate(-50%, -50%) scale(1);
}

input[type="radio"].nao-feito:checked {
    border-color: #ff8080;
}

input[type="radio"].nao-feito:checked::before {
    background-color: #ff8080;
    transform: translate(-50%, -50%) scale(1);
}

/* TEMAS */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

body.dark-theme tr.feito {
    background-color: #2e3b4e;
}

body.dark-theme tr.nao-feito {
    background-color: #4e2e2e;
}

body.dark-theme table {
    border-color: #ffffff;
}

/* PRINT */
@media print {
    body {
        font-family: 'Segoe UI', sans-serif;
        color: #000;
        background-color: #fff;
    }

    /* Ocultar elementos desnecessários */
    #dayButtons,
    #clearButton,
    #progressContainer,
    #themeToggle,
    h1 {
        display: none;
    }

    /* Ajustar o título do dia */
    #dayTitle {
        text-align: center;
        margin-top: 20px;
    }

    table {
        page-break-inside: auto;
    }

    thead {
        display: table-header-group;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    tbody {
        display: table-row-group;
    }

    th, td {
        border: 1px solid #000;
        padding: 6px;
    }

    th {
        position: sticky;
        top: 60px;
        background-color: #d0e7ff;
        z-index: 5;
    }

    td.emoji {
        font-size: 2.5em;
    }

    .checkbox {
        width: 1.2em;
        height: 1.2em;
    }

    @page {
        size: A4;
        margin: 20mm;
    }
}
/* Header e Switch */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#themeSwitchContainer {
    display: flex;
    align-items: center;
}

/* Estilos do Switch */
.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
    transition: all 0.4s;
}

.switch--shadow + label:before,
.switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}

.switch--shadow + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 30px;
    transition: all 0.4s;
}

.switch--shadow + label:after {
    width: 32px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--shadow:checked + label:before {
    background-color: #b8b8b8;
}

.switch--shadow:checked + label:after {
    transform: translateX(30px);
}

/* Ajuste de posição do switch */
#themeSwitchContainer {
    position: absolute;
    top: 10px;
    right: 20px;
}


